@import './variables.scss';
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    height: 100vh;
    box-sizing: border-box;
}
#app {
    height: 100%;
    .app-main {
        min-height: calc(100vh - 85px);
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .siderbar{
        transition: width .25s;
        background-color: #81ecec;
        position: fixed;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        width: $sideBarWidth;
    }
    .main-container {
        min-height: 100%;
        transition: margin-left .25s;
        position: relative;
        margin-left: $sideBarWidth;
    }
    .hideSidebar {
        .siderbar {
            width: 54px !important;
        }
        .main-container {
            margin-left: 54px;
        }
    }
}